<%-include("header")%>
<%-include("nav")%>

<div class="rounded-xl w-[80%] py-[10%] bg-red-200 m-auto">

<h1 class="text-center text-7xl font-extrabold text-red-400">About the Application</h1>
<p class="w-[80%] text-center font-extrabold m-auto mt-5 text-red-400">Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Earum illo fugiat unde, cum dolore odit ratione. Sapiente,
      aspernatur quis! Recusandae, doloribus incidunt?</p>
<p class="flex justify-center gap-x-5 mt-10">
  <a  class="hover:bg-red-600 rounded text-white p-5 bg-red-400" href="/login">Continue sufering</a>
  <!-- <a class="hover:bg-red-600 rounded text-white p-5 bg-red-400" href="/register">Start your journey</a> -->
</p>
</div>
<%-include("footer")%>
